body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    box-sizing:border-box;
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5tahoma, arial, \5b8b\4f53;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp {
    font-family: couriernew, courier, monospace;
}

small {
    font-size: 12px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a {
    color: #303133;
  }

// a:hover {
//     text-decoration: underline;
// }

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset,
img {
    border: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body,
#app {
    height: 100%;
}    

.el-input__inner {
    height: 40px;
    font-size: 14px;
    box-shadow: none;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
}
 
.el-input__inner:hover {
    border-color: #80bd01;
}
 
.el-input__inner:focus {
    border-color: #80bd01;
    box-shadow: none;
    transition-duration: .5s;
}
 
.el-input__inner::-webkit-input-placeholder {
    line-height: 20px;
}
 

.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
    margin: 0 5px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    color: #606266;
    min-width: 30px;
    border-radius: 2px;
}

.el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: #80bd01;
    color: #FFF;
}

.el-pagination.is-background .el-pager li:not(.active):hover{
    color: #80bd01;
}

.el-menu-item {
    font-size: 17px;
    padding: 0 13px;
   
}

.el-menu--horizontal>.el-menu-item {
    height: 40px;
    line-height: 40px;
    &.is-active {
        border-bottom: 2px solid #80bd01;
        color: #121212;
    }
}


.markdown-text {
    img{
        max-width: 100%;
    }
 
  }


.el-button--primary {
    color: #FFF;
    background-color: #80bd01;
    border-color: #80bd01;
    font-weight: 600;
    padding: 10px 16px;
}

.el-button--primary:hover {
    color: #FFF;
    background-color: #2e7c32;
    border-color: #2e7c32;
}

.el-button--primary:focus {
    color: #FFF;
    background-color: #2e7c32;
    border-color: #2e7c32;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}